<div class="lightcontainer">
<h1>Панель управления</h1>
<a href="/projects/" class="button">Управление проектами</a>   
<a href="/products/" class="button">Управление продуктами</a>  
<a href="/edit_brands/" class="button">Управление брендами</a>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>