<div class = "container">
<%= form_for @lamp, :html => { :class => "form-horizontal lamp" } do |f| %>

    <% if @lamp.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@lamp.errors.count, "error") %> prohibited this lamp from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @lamp.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    Имя
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@lamp[:name]) %>
  </div>
  <div class="control-group">
    Картинка
    <div class="controls">
      <%= f.text_field :picture, :class => 'form-control' %>
    </div>
    <%= error_span(@lamp[:picture]) %>
  </div>
  <div class="control-group">
    Тип
    <div class="controls">
      <%= f.text_field :type_of_production, :class => 'form-control' %>
    </div>
    <%= error_span(@lamp[:type_of_production]) %>
  </div>
  <div class="control-group">
    Бренд
    <div class="controls">
      <%= f.text_field :brand_id, :class => 'form-control' %>
    </div>
    <%= error_span(@lamp[:brand_id]) %>
  </div>
  <div class="control-group">
    В наличии
    <div class="controls">
      <%= f.text_field :availability, :class => 'form-control' %>
    </div>
    <%= error_span(@lamp[:availability]) %>
  </div>
  <div class="control-group">
    Стоимость
    <div class="controls">
      <%= f.text_field :cost, :class => 'form-control' %>
    </div>
    <%= error_span(@lamp[:cost]) %>
  </div>
  <div class="control-group">
    Описание
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@lamp[:description]) %>
  </div>
  <div class="control-group">
    Новинка
    <div class="controls">
      <%= f.check_box :novelty, :class => 'form-control' %>
    </div>
    <%= error_span(@lamp[:novelty]) %>
  </div>
  <div class="control-group">
    Акция
    <div class="controls">
      <%= f.check_box :action, :class => 'form-control' %>
    </div>
    <%= error_span(@lamp[:action]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            lamps_path, :class => 'btn btn-default' %>

<% end %>
</div>