<%- model_class = Lamp -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Название</th>
      <th>Лого</th>
      <th>Описание</th>
      <th>Тип</th>
      <th>Стоимость</th>
      <th>Наличие</th>
      <th>Новинка</th>
      <th>Акция</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @lamps.each do |lamp| %>
      <tr>
        <td><%= link_to lamp.id, lamp_path(lamp) %></td>
        <td><%= link_to lamp.name, lamp_path(lamp) %></td>
        <td><img src=<%= lamp.picture %>></img></td>
        <td><%= lamp.description %></td>
        <td><%= lamp.type_of_production %></td>
        <td><%= lamp.cost %></td>
        <td><%= lamp.availability %></td>
        <td><%= lamp.novelty %></td>
        <td><%= lamp.action %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_lamp_path(lamp), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      lamp_path(lamp),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_lamp_path,
            :class => 'btn btn-primary' %>
