<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Dysania</title>
        <!-- META TAGS -->
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=0,width=device-width,height=device-height,initial-scale=1,maximum-scale=1" />
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="google" content="notranslate" />
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="js/modernizr.js" type="text/javascript"></script>
    </head>
    
    <body>
        <!-- BG FILTERS -->
        <div id="left-bg"></div>
        <div id="right-bg"></div>
        <!-- MAIN MENU -->
        <div class="fix-nav">
            <div class="nav-container">
                <!-- LOGO -->
                <div class="logo">
                <%= link_to image_tag("logo.png"), lamps_path %>
                </div>
                <!-- MOBILE MENU ICON -->
                <a class="toggleMenu" href="portfolio.html#">Menu</a>
                <!-- MENU -->
                <nav>
                    <ul class="nav">
                        <!--li>
                            <%= link_to "Homepage", lamps_path %>
                            <ul>
                                <li>
                                    <a href="http://dysania.wp4life.com/index.html">Style 1</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/index2.html">Style 2</a>
                                </li>
                            </ul>
                        </li-->
                        <li>
                            <!--a href="portfolio.html#">Pages</a-->
                            <%= link_to "About Us", about_path %>
                            <!--ul>
                                <li>
                                    <%= link_to "About Us", about_path %>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/services.html">Services</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/features.html">Features</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/faq.html">Faq</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/under-construction.html">Under Construction</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/light.html">Full Width - Light</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/dark.html">Full Width - Dark</a>
                                </li>
                                <li>
                                    <a href="portfolio.html#">Dropdown</a>
                                    <ul>
                                        <li>
                                            <a href="portfolio.html#">Item 1</a>
                                        </li>
                                        <li>
                                            <a href="portfolio.html#">Item 2</a>
                                        </li>
                                        <li>
                                            <a href="portfolio.html#">Item 3</a>
                                        </li>
                                        <li>
                                            <a href="portfolio.html#">Item 4</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul-->
                        </li>
                        <li>
                            <%= link_to "Portfolio", portfolio_path %>
                            <!--ul>
                                <li>
                                    <a href="portfolio.html">Portfolio</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-portfolio.html">Single - Light</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-portfolio2.html">Single - Dark</a>
                                </li>
                            </ul-->
                        </li>
                        <!--li>
                            <a href="portfolio.html#">Blog</a>
                            <ul>
                                <li>
                                    <a href="http://dysania.wp4life.com/blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-post.html">Blog Post - Light</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-post2.html">Blog Post - Dark</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-post-sidebar.html">Post Sidebar - Light</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-post-sidebar2.html">Post Sidebar - Dark</a>
                                </li>
                            </ul>
                        </li-->
                        <li>
                            <%= link_to "Contact", contact_path %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- MAIN CONTAINER -->
        <div class="maincontainer">
            <!-- PAGE IMAGE -->
            <div class="pageimage">
                <img src="images/photos/page2.jpg" alt="" />
            </div>
            <!-- PAGE TITLE -->
            <h1 class="subtitle">About Us</h1>
            <!-- LEFT CONTAINER -->
            <section class="leftcontainer">
                <h2>Who we are?</h2>
                <p>Ad nisi in nulla hic ullamco minim quibusdam fabulas iis amet fidelissimae mentitum quid possumus, ubi est graviterque qui voluptate id litteris, ex dolor admodum, quem et incurreret ex tamen hic magna voluptate nam sunt irure. Ea quis dolor nulla offendit.</p>
                <p>Amet mentitum exquisitaque quo doctrina quorum eram laboris esse, doctrina sint malis do quae, esse e excepteur aut velit. A aliqua se aliqua, de irure cohaerescant ad noster efflorescere cernantur eram quibusdam an iudicem ne anim. Fabulas illum o iudicem eruditionem, se velit ingeniis quibusda.</p>
                <hr/>
                <h3>Our Team</h3>
                <p>Ex ipsum commodo possumus, quamquam labore minim ut malis. Nostrud fore a nescius instituendarum, offendit ne sunt admodum et consequat in senserit ex ab qui dolor incididunt.</p>
                <!-- ACCORDION -->
                <div id="st-accordion" class="st-accordion">
                    <ul>
                        <li>
                            <a href="about.html#">Jennifer Smith -
                                <span>Manager</span>
                                <span class="st-arrow">Open or Close</span>
                            </a>
                            <div class="st-content">
                                <img src="images/photos/team1.jpg" alt="" />
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ipsum quis diam aliquam vel mollis nisi tempus. Nam et ante urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam luctus, mi vel tincidunt pulvinar.</p>
                            </div>
                        </li>
                        <li>
                            <a href="about.html#">Michael White -
                                <span>Web Developer</span>
                                <span class="st-arrow">Open or Close</span>
                            </a>
                            <div class="st-content">
                                <img src="images/photos/team2.jpg" alt="" />
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ipsum quis diam aliquam vel mollis nisi tempus. Nam et ante urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam luctus, mi vel tincidunt pulvinar.</p>
                            </div>
                        </li>
                        <li>
                            <a href="about.html#">Mary Jane -
                                <span>Web Designer</span>
                                <span class="st-arrow">Open or Close</span>
                            </a>
                            <div class="st-content">
                                <img src="images/photos/team3.jpg" alt="" />
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ipsum quis diam aliquam vel mollis nisi tempus. Nam et ante urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam luctus, mi vel tincidunt pulvinar.</p>
                            </div>
                        </li>
                        <li>
                            <a href="about.html#">Mike Stone -
                                <span>Support</span>
                                <span class="st-arrow">Open or Close</span>
                            </a>
                            <div class="st-content">
                                <img src="images/photos/team4.jpg" alt="" />
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ipsum quis diam aliquam vel mollis nisi tempus. Nam et ante urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam luctus, mi vel tincidunt pulvinar.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- RIGHT CONTAINER -->
            <section class="rightcontainer">
                <h3>Presantation Video</h3>
                <p>Ab eram illum veniam fabulas. Et eram nescius expetendis te ab officia cohaerescant a fugiat distinguantur quibusdam quae pariatur, ne officia eruditionem.</p>
                <div class="flex-video">
                    <iframe src="../www.youtube.com/embed/keDneypw3HY%3Fwmode=transparent.html"></iframe>
                </div>
                <hr/>
                <!-- TESTIMONIALS -->
                <h4>Testimonials</h4>
                <div id="cbp-qtrotator" class="cbp-qtrotator">
                    <div class="cbp-qtcontent">
                        <img src="images/photos/t3.jpg" alt="" />
                        <div class="blockquote">
                            <p>Without freedom, no art; art lives only on the restraints it imposes on itself, and dies of all others.</p>
                            <div class="footer">Albert Camus</div>
                        </div>
                    </div>
                    <div class="cbp-qtcontent">
                        <img src="images/photos/t2.jpg" alt="" />
                        <div class="blockquote">
                            <p>Drawing is the honesty of the art. There is no possibility of cheating. It is either good or bad.</p>
                            <div class="footer">Salvador Dali</div>
                        </div>
                    </div>
                    <div class="cbp-qtcontent">
                        <img src="images/photos/t1.jpg" alt="" />
                        <div class="blockquote">
                            <p>A man paints with his brains and not with his hands.</p>
                            <div class="footer">Michelangelo</div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- FOOTER -->
            <footer>
                <div id="footer-widgets">
                    <div class="footer-widget first-clmn">
                        <h5>Recent Posts</h5>
                        <ul>
                            <li>
                                <a href="http://dysania.wp4life.com/blog.html">Suspendisse ipsum urna</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/blog.html">Pellentesque eget por</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/blog.html">Aliquam sit amet urne</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/blog.html">Ornare dapibus ornare et</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/blog.html">Donec et odio et amet</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-widget second-clmn">
                        <h5>Categories</h5>
                        <ul>
                            <li>
                                <a href="http://dysania.wp4life.com/single-post.html">Lorem Ipsum Dolor eget por</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/single-post.html">Nibh Mauris lucem id sagit</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/single-post.html">Donec in lorem mauris</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/single-post.html">Auctor Mauris Dolor urna loe</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/single-post.html">Mauris id posuere</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-widget third-clmn">
                        <h5>Flickr Feed</h5>
                        <!-- FLICR WIDGET -->
                        <ul id="cbox" class="flickr-box"></ul>
                        <!-- END -->
                    </div>
                </div>
                <div class="clear"></div>
                <div class="credits">Copyright Egemenerd</div>
                <!-- SOCIAL ICONS -->
                <ul class="social-icons">
                    <li>
                        <a href="about.html#">
                            <img class="social-icon" src="images/social-icons/facebook.png" alt="Facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="about.html#">
                            <img class="social-icon" src="images/social-icons/twitter.png" alt="Twitter" />
                        </a>
                    </li>
                    <li>
                        <a href="about.html#">
                            <img class="social-icon" src="images/social-icons/flickr.png" alt="Flickr" />
                        </a>
                    </li>
                    <li>
                        <a href="about.html#">
                            <img class="social-icon" src="images/social-icons/linkedin.png" alt="Linked in" />
                        </a>
                    </li>
                    <li>
                        <a href="about.html#">
                            <img class="social-icon" src="images/social-icons/google+.png" alt="Google+" />
                        </a>
                    </li>
                    <li>
                        <a href="about.html#">
                            <img class="social-icon" src="images/social-icons/vimeo.png" alt="Vimeo" />
                        </a>
                    </li>
                    <li>
                        <a href="about.html#">
                            <img class="social-icon" src="images/social-icons/youtube.png" alt="YouTube" />
                        </a>
                    </li>
                </ul>
            </footer>
            <!-- BACK TO TOP BUTTON -->
            <a href="about.html#" class="back-to-top"></a>
        </div>
        <!-- TESTIMONIALS -->
        <script type="text/javascript">
            $(function() {
                $('#cbp-qtrotator').cbpQTRotator({
                    speed: 700,
                    interval: 8000
                });

            });
        </script>
        <!-- ACCORDION -->
        <script type="text/javascript">
            $(function() {
                $('#st-accordion').accordion();
            });
        </script>
        <!-- BG IMAGE -->
        <script type="text/javascript">
            $(document).ready(function() {
                "use strict";
                $('body').backstretch("images/photos/bg.jpg");
            });
        </script>
    </body>

</html>