            <h1 class="subtitle btitle">Бренды</h1>
            <!-- FILTERS -->
            <div id="f-filter">
                <ul id="filters">
                    <li>
                        <a  class="sort price active" value = "all">Показать всё</a>
                    </li>
                    <li>
                        <a id="low_price_category" class = 'sort price' value = "low">Низкая ценовая категория</a>
                    </li>
                    <li>
                        <a id="medium_price_category" class = 'sort price' value = "medium">Средняя ценовая категория</a>
                    </li>
                    <li>
                        <a id="premium_price_category" class = 'sort price' value = "premium">Премиум</a>
                    </li>
                    </ul>
                <ul id="filters">
                    <li>
                        <a id="styles" class = 'sort styles' value = "classic">Классика</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "neoclassic">Неоклассика</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "actual">Современный</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "modern">Модерн</a>
                    </li>
                    <!--li>
                        <a id="styles" class = 'sort styles' value = "architecture">Архитектурный</a>
                    </li-->
                    <li>
                        <a id="styles" class = 'sort styles' value = "cantry">Кантри</a>
                    </li>
                    <!--li>
                        <a id="styles" class = 'sort styles' value = "interior">Интерьерный</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "street">Уличный свет</a>
                    </li-->
                    <li>
                        <a id="styles" class = 'sort styles' value = "eclecticism">Эклектика</a>
                    </li>
                </ul>
                
            </div>
            <div class="clear"></div>
            <!-- ITEMS -->
            <ul id="da-thumbs" class="da-thumbs">
                <% @brands = Brand.all %>
                <% @brands.each do |brand| %>
                    <li data-filter="photos">
                        <a href="<%= brand.link %>">
                            <img src="/uploads/<%= brand.picture %>" alt="" />
                            <div class="whitebox">
                                <span><%= brand.name %> <br /><%if brand.price_category == "low" %>
                                    Низкая
                                <%elsif brand.price_category == "medium"%>
                                    Средняя
                                <% else %>
                                    Премиум
                                <% end %>
                                <br/>
                               
                                    </span>

                            </div>
                        </a>
                    </li>
                <% end %>
            </ul>
        <!-- BG IMAGE -->
        <script type="text/javascript">
            $(window).load(function() {
                "use strict";
                $('body').backstretch("images/photos/bg.jpg");
            });

            $('#all').click(function() {
                window.location.href = window.location.href;
            });

            $('.sort').click(function() {
                if($(this).hasClass("price")) {
                    $('.price.active').removeClass('active')
                    $(this).addClass('active');
                }
                price_category = $('.sort.active').attr('value');
                if($(this).hasClass("styles")) {
                    if($(this).hasClass("active"))
                        $(this).removeClass('active');
                    else 
                        $(this).addClass('active')
                }
                var brand_styles_array = new Array();
                var arr = $('.styles.active');
                arr.each(function(index) {
                    brand_styles_array[index] = $(this).attr('value');
                });
                brand_styles = JSON.stringify(brand_styles_array);
                $.get("/sort", {price_category: price_category, styles: brand_styles}, function(data) {
                    //console.log(JSON.parse(data));
                    //console.log(data);
                    //result_array = JSON.parse(data);
                    $("#da-thumbs").empty();
                    $.each(data, function(key, value) {
                        var price_category;
                        switch(value["price_category"]) {
                            case "low":
                                price_category = "Низкая";
                                break;
                            case "medium":
                                price_category = "Средняя";
                                break
                            case "premium":
                                price_category = "Премиум";
                                break;
                        }
                        //element = JSON.parse(value);
                        $('#da-thumbs').append('<li data-filter="photos"><a class="clb-photo" href="' + value["link"] + '" data-rel="latest-projects"><img src="/uploads/' + value["picture"] + '" alt="" /><div class="whitebox"><span>' + value["name"] + ' <br />' + price_category + '</span></div></a></li>');
                    });
                    $(slider);
                })
            })
        </script>
