
            <!-- PAGE TITLE -->
            <h1 class="subtitle btitle">Контакты</h1>
            <!-- LEFT CONTAINER -->
            <section class="leftcontainer">
                <h2>Напишите нам</h2>
                <p>Если у вас возникли какие нибудь пожелания. То напишите нам на емеил, или воспользуйтесь формой ниже.</p>
                 <h3></h3>
                <!-- CONTACT FORM -->
                                <!--form id="contactForm" action="" method="post"-->
                                    <label>Ваше имя:</label>
                                    <input type="text" name="senderName" id="senderName" required="required" maxlength="40" />
                                    <label>Ваш Email:</label>
                                    <input type="email" name="senderEmail" id="senderEmail" required="required" maxlength="50" />
                                    <label>Ваше сообщение:</label>
                                    <textarea name="message" id="message" required="required"></textarea>
                                    <input type="submit" id="sendMessage" name="sendMessage" class="button" value="Отправить" />
                                <!--/form-->
            </section>
            <!-- RIGHT CONTAINER -->
            <section class="rightcontainer">
                <h2>Наш адрес</h2>
                <p>Адрес: 630082, г. Новосибирск, ул. Д. Ковальчук, 250.</p>
                <!-- GOOGLE MAP -->
                                <div class="flex-video">
                                  <a id="firmsonmap_biglink" href="http://maps.2gis.ru/#/?history=project/novosibirsk/center/82.903822101714,55.055020555382/zoom/18/state/widget/id/141265769894980/firms/141265769894980">Перейти к большой карте</a>
<script charset="utf-8" type="text/javascript" src="http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js"></script>
<script charset="utf-8" type="text/javascript">new DGWidgetLoader({"borderColor":"#a3a3a3","width":"900","height":"600","wid":"480670e7020d6540bad1518c98f8449d","pos":{"lon":"82.903822101714","lat":"55.055020555382","zoom":"18"},"opt":{"ref":"hidden","card":["name","contacts","schedule","payings","flamp"],"city":"novosibirsk"},"org":[{"id":"141265769894980"}]});</script>
<noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
                                </div>
                <h6 class="label">Телефон:  (383) 209−24−42  (383) 209−24−43</h6>
                <h6 class="label">Email:  assoluce@mail.ru</h6>
                <h6 class="label">Метро: Заельцовская - 847 м</h6>
            </section>    
            <!-- FOOTER -->
           
