            <style>
                .leftcontainer a:hover { color: #1b1b1b;}
            </style>
            <!-- ZEUS SLIDER -->
            <div id="slide1">
                <div class="zeus-slider zeus-default">
                    <div class="zeus-block">
                        <div class="zeus-slide s-50">
                            <img src="images/photos/morning.jpg" data-effect="zoomIn" alt="" />
                            <div class="zeus-text-left bounceInUp">Утром</div>
                        </div>
                        <div class="zeus-slide s-50">
                            <img src="images/photos/night.jpg" data-effect="slideTop" alt="" />
                            <div class="zeus-text-right bounceInDown">Вечером</div>
                        </div>
                    </div>
                    <div class="zeus-block">
                        <div class="zeus-slide s-100">
                            <img src="images/photos/full.jpg" data-effect="slideTop" alt="" />
                        </div>
                        <div class="zeus-info">
                            Комплексные световые решения
                        </div>
                    </div>
                    <div class="zeus-block">
                        <div class="zeus-slide s-50">
                            <img src="images/photos/left.png" data-effect="slideBottom" alt="" />
                            <div class="zeus-text-left bounceInUp">Asso</div>
                        </div>
                        <div class="zeus-slide s-50">
                            <img src="images/photos/right.png" data-effect="zoomIn" alt="" />
                            <div class="zeus-text-right bounceInDown">Luce</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="next-block"></div>
                    <div class="prev-block"></div>
                </div>
            </div>
            <!-- LEFT CONTAINER -->
            <section class="leftcontainer">
                <!-- ICONS -->
                <a href="/electros/">
                <div class="icon">
                    <div class="circle">
                        <img src="images/icons/1.png" alt="" />
                    </div>
                    <h5>Электроустановка</h5>
                    <p>Розетки и выключатели известных фирм</p>
                </div>
                </a>
                <a href="/products/">
                    <div class="icon">
                        <div class="circle">
                            <img src="images/icons/31.png" alt="" />
                        </div>
                        <h5>Светильники</h5>
                        <p>Срок исполнения заказов от 2-х недель</p>
                    </div>
                </a>
                <hr/>
                <h1>Asso&Luce</h1>
                <p>Салон светильников и электроустановочной продукции. Мы являемся одним из ведущих поставщиков более 350 световых и электротехнических брендов — мировых лидеров в производстве светотехники. 
Работая с нашей компанией, вы получаете профессионально разработанные проекты, реализованные с использованием оборудования, отвечающего европейским стандартам качества и безопасности. 
</p>
            </section>
            <!-- RIGHT CONTAINER -->
            <section class="rightcontainer">
                <!-- ICONS -->
                <div class="icon">
                    <div class="circle">
                        <img src="images/icons/32.png" alt="" />
                    </div>
                    <h5>Экологичность</h5>
                    <p>Светодиодные решения и диммеры</p>
                </div>
                <div class="icon">
                    <div class="circle">
                        <img src="images/icons/20.png" alt="" />
                    </div>
                    <h5>Сроки</h5>
                    <p>Заказ выполняется непосредственно на фабрике</p>
                </div>
                <hr/>
                <h1>ASSO&LUCE</h1>
                <p>(точный перевод (итал.) – мастер своего дела + свет), был открыт для того, чтобы с помощью наших специалистов сделать процесс выбора и покупки светотехнической продукции наиболее комфортным и необременительным.</p>
            </section>
            <div class="clear"></div>
            <!-- LATEST PROJECTS -->
            <h3 class="subtitle">Бренды</h3>
            <ul id="da-thumbs" class="da-thumbs">
                <% @brands.each do |brand| %>
                    <li data-filter="photos">
                        <!--a class="clb-photo" href="<%= brand.link %>" data-rel="latest-projects"-->
                        <a href="<%= brand.link %>">
                            <img src="/uploads/<%= brand.picture %>" alt="" />
                            <div class="whitebox">
                                <span><%= brand.name %> <br /><%if brand.price_category == "low" %>
                                    Низкая
                                <%elsif brand.price_category == "medium"%>
                                    Средняя
                                <% else %>
                                    Премиум
                                <% end %>
                                     <br/>
                                <% JSON.parse(brand.styles).each do | b | %>
                                        <% case b %>
                                            <% when "classic" %>
                                                Классика
                                            <% when "neoclassic" %>
                                                , Неоклассика
                                            <% when "actual" %>
                                                , Современный
                                            <% when "modern" %>
                                                , Модерн
                                            <% when "cantry" %>
                                                , Кантри
                                            <% when "eclecticism" %>
                                                , Эклектика
                                            <% end %>
                                        <% end %>
                                    </span>
                                </span>
                            </div>
                        </a>
                    </li>
                <% end %>
            </ul>
