
<div class="jumbotron">
        <h1>Панель управления</h1>
        <a class="btn btn-lg btn-success" href="/projects/" class="button">Управление проектами</a>   
		<a class="btn btn-lg btn-success" href="/products/" class="button">Управление продуктами</a>  
		<a class="btn btn-lg btn-success" href="/edit_brands/" class="button">Управление брендами</a>
</div>