<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>Dysania</title>
        <!-- META TAGS -->
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=0,width=device-width,height=device-height,initial-scale=1,maximum-scale=1" />
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="google" content="notranslate" />
    </head>
    
    <body>
        <!-- BG FILTERS -->
        <div id="left-bg"></div>
        <div id="right-bg"></div>
        <!-- MAIN MENU -->
        <div class="fix-nav">
            <div class="nav-container">
                <!-- LOGO -->
                <div class="logo">
                <%= link_to image_tag("logo.png"), lamps_path %>
                </div>
                <!-- MOBILE MENU ICON -->
                <a class="toggleMenu" href="portfolio.html#">Menu</a>
                <!-- MENU -->
                <nav>
                    <ul class="nav">
                        <!--li>
                            <%= link_to "Homepage", lamps_path %>
                            <ul>
                                <li>
                                    <a href="http://dysania.wp4life.com/index.html">Style 1</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/index2.html">Style 2</a>
                                </li>
                            </ul>
                        </li-->
                        <li>
                            <!--a href="portfolio.html#">Pages</a-->
                            <%= link_to "About Us", about_path %>
                            <!--ul>
                                <li>
                                    <%= link_to "About Us", about_path %>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/services.html">Services</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/features.html">Features</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/faq.html">Faq</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/under-construction.html">Under Construction</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/light.html">Full Width - Light</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/dark.html">Full Width - Dark</a>
                                </li>
                                <li>
                                    <a href="portfolio.html#">Dropdown</a>
                                    <ul>
                                        <li>
                                            <a href="portfolio.html#">Item 1</a>
                                        </li>
                                        <li>
                                            <a href="portfolio.html#">Item 2</a>
                                        </li>
                                        <li>
                                            <a href="portfolio.html#">Item 3</a>
                                        </li>
                                        <li>
                                            <a href="portfolio.html#">Item 4</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul-->
                        </li>
                        <li>
                            <%= link_to "Portfolio", portfolio_path %>
                            <!--ul>
                                <li>
                                    <a href="portfolio.html">Portfolio</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-portfolio.html">Single - Light</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-portfolio2.html">Single - Dark</a>
                                </li>
                            </ul-->
                        </li>
                        <!--li>
                            <a href="portfolio.html#">Blog</a>
                            <ul>
                                <li>
                                    <a href="http://dysania.wp4life.com/blog.html">Blog</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-post.html">Blog Post - Light</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-post2.html">Blog Post - Dark</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-post-sidebar.html">Post Sidebar - Light</a>
                                </li>
                                <li>
                                    <a href="http://dysania.wp4life.com/single-post-sidebar2.html">Post Sidebar - Dark</a>
                                </li>
                            </ul>
                        </li-->
                        <li>
                            <%= link_to "Contact", contact_path %>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- MAIN CONTAINER -->
        <div class="maincontainer">
            <!-- PAGE TITLE -->
            <h1 class="subtitle btitle">Portfolio</h1>
            <!-- FILTERS -->
            <div id="f-filter">
                <ul id="filters">
                    <li>
                        <a  class="sort price active" value = "all">Показать всё</a>
                    </li>
                    <li>
                        <a id="low_price_category" class = 'sort price' value = "low">Низкая ценовая категория</a>
                    </li>
                    <li>
                        <a id="medium_price_category" class = 'sort price' value = "medium">Средняя ценовая категория</a>
                    </li>
                    <li>
                        <a id="premium_price_category" class = 'sort price' value = "premium">Премиум</a>
                    </li>
                    </ul>
                <ul id="filters">
                    <li>
                        <a id="styles" class = 'sort styles' value = "classic">Классика</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "neoclassic">Неоклассика</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "actual">Современный</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "modern">Модерн</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "architecture">Архитектурный</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "cantry">Кантри</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "interior">Интерьерный</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "street">Уличный свет</a>
                    </li>
                    <li>
                        <a id="styles" class = 'sort styles' value = "eclecticism">Эклектика</a>
                    </li>
                </ul>
                
            </div>
            <div class="clear"></div>
            <!-- ITEMS -->
            <ul id="da-thumbs" class="da-thumbs">
                <% @brands = Brand.all %>
                <% @brands.each do |brand| %>
                    <li data-filter="photos">
                        <a class="clb-photo" href="<%= brand.link %>" data-rel="latest-projects">
                            <img src="<%= brand.picture %>" alt="" />
                            <div class="whitebox">
                                <span><%= brand.name %> <br /><%if brand.price_category == "low" %>
                                    Низкая
                                <%elsif brand.price_category == "medium"%>
                                    Средняя
                                <% else %>
                                    Премиум
                                <% end %>
                                    </span>
                            </div>
                        </a>
                    </li>
                <% end %>
            </ul>
            <!-- FOOTER -->
            <footer>
                <div id="footer-widgets">
                    <div class="footer-widget first-clmn">
                        <h5>Recent Posts</h5>
                        <ul>
                            <li>
                                <a href="http://dysania.wp4life.com/blog.html">Suspendisse ipsum urna</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/blog.html">Pellentesque eget por</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/blog.html">Aliquam sit amet urne</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/blog.html">Ornare dapibus ornare et</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/blog.html">Donec et odio et amet</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-widget second-clmn">
                        <h5>Categories</h5>
                        <ul>
                            <li>
                                <a href="http://dysania.wp4life.com/single-post.html">Lorem Ipsum Dolor eget por</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/single-post.html">Nibh Mauris lucem id sagit</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/single-post.html">Donec in lorem mauris</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/single-post.html">Auctor Mauris Dolor urna loe</a>
                            </li>
                            <li>
                                <a href="http://dysania.wp4life.com/single-post.html">Mauris id posuere</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-widget third-clmn">
                        <h5>Flickr Feed</h5>
                        <!-- FLICKR WIDGET -->
                        <ul id="cbox" class="flickr-box"></ul>
                        <!-- END -->
                    </div>
                </div>
                <div class="clear"></div>
                <div class="credits">Copyright Egemenerd</div>
                <!-- SOCIAL ICONS -->
                <ul class="social-icons">
                    <li>
                        <a href="portfolio.html#">
                            <img class="social-icon" src="images/social-icons/facebook.png" alt="Facebook" />
                        </a>
                    </li>
                    <li>
                        <a href="portfolio.html#">
                            <img class="social-icon" src="images/social-icons/twitter.png" alt="Twitter" />
                        </a>
                    </li>
                    <li>
                        <a href="portfolio.html#">
                            <img class="social-icon" src="images/social-icons/flickr.png" alt="Flickr" />
                        </a>
                    </li>
                    <li>
                        <a href="portfolio.html#">
                            <img class="social-icon" src="images/social-icons/linkedin.png" alt="Linked in" />
                        </a>
                    </li>
                    <li>
                        <a href="portfolio.html#">
                            <img class="social-icon" src="images/social-icons/google+.png" alt="Google+" />
                        </a>
                    </li>
                    <li>
                        <a href="portfolio.html#">
                            <img class="social-icon" src="images/social-icons/vimeo.png" alt="Vimeo" />
                        </a>
                    </li>
                    <li>
                        <a href="portfolio.html#">
                            <img class="social-icon" src="images/social-icons/youtube.png" alt="YouTube" />
                        </a>
                    </li>
                </ul>
            </footer>
            <!-- BACK TO TOP BUTTON -->
            <a href="portfolio.html#" class="back-to-top"></a>
        </div>
        <!-- BG IMAGE -->
        <script type="text/javascript">
            $(window).load(function() {
                "use strict";
                $('body').backstretch("images/photos/bg.jpg");
            });

            $('#all').click(function() {
                window.location.href = window.location.href;
            });

            $('.sort').click(function() {
                if($(this).hasClass("price")) {
                    $('.price.active').removeClass('active')
                    $(this).addClass('active');
                }
                price_category = $('.sort.active').attr('value');
                if($(this).hasClass("styles")) {
                    if($(this).hasClass("active"))
                        $(this).removeClass('active');
                    else 
                        $(this).addClass('active')
                }
                var brand_styles_array = new Array();
                var arr = $('.styles.active');
                arr.each(function(index) {
                    brand_styles_array[index] = $(this).attr('value');
                });
                brand_styles = JSON.stringify(brand_styles_array);
                $.get("sort", {price_category: price_category, styles: brand_styles}, function(data) {
                    //console.log(JSON.parse(data));
                    //console.log(data);
                    //result_array = JSON.parse(data);
                    $("#da-thumbs").empty();
                    $.each(data, function(key, value) {
                        var price_category;
                        switch(value["price_category"]) {
                            case "low":
                                price_category = "Низкая";
                                break;
                            case "medium":
                                price_category = "Средняя";
                                break
                            case "premium":
                                price_category = "Премиум";
                                break;
                        }
                        //element = JSON.parse(value);
                        $('#da-thumbs').append('<li data-filter="photos"><a class="clb-photo" href="' + value["link"] + '" data-rel="latest-projects"><img src="' + value["picture"] + '" alt="" /><div class="whitebox"><span>' + value["name"] + ' <br />' + price_category + '</span></div></a></li>');
                    });
                    $(slider);
                })
            })
        </script>
    </body>

</html>