<%- model_class = Lamp -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @lamp.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:picture) %>:</strong></dt>
  <dd><%= @lamp.picture %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_of_production) %>:</strong></dt>
  <dd><%= @lamp.type_of_production %></dd>
  <dt><strong><%= model_class.human_attribute_name(:brand_id) %>:</strong></dt>
  <dd><%= @lamp.brand_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:availability) %>:</strong></dt>
  <dd><%= @lamp.availability %></dd>
  <dt><strong><%= model_class.human_attribute_name(:action) %>:</strong></dt>
  <dd><%= @lamp.action %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cost) %>:</strong></dt>
  <dd><%= @lamp.cost %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @lamp.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:novelty) %>:</strong></dt>
  <dd><%= @lamp.novelty %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              lamps_admin_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_lamp_path(@lamp), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              lamp_path(@lamp),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
