<div class="lightcontainer">
<%= form_for(@news) do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@news.errors.count, "error") %> prohibited this news from being saved:</h2>

      <ul>
      <% @news.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Заголовок<br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    Новость<br>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="field">
    Изображение<br>
    <%= f.file_field :img, class: "form-control" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit 'Создать', class: "btn btn-success" %>
  </div>
<% end %>
</div>