            <!-- PAGE TITLE -->
            <h1 class="subtitle btitle">Новости</h1>
            <!-- ARTICLE -->
            <% @news.each do | n | %>
                <article class="blogcontainer">
                    <div class="blogimage">
                            <img src="/uploads/news/<%= n.img %>" alt="" />
                        <div class="mask"></div>
                    </div>
                    <div class="blogexcerpt">
                        <p class="blogdate">Дата: <%= n.created_at.strftime('%F') %></p>
                        <p class="blogdate"><%= n.title %></p>
                        <%= n.body %>
                        
                        <% unless session[:is_admin].nil? %>
                        <br/>
                            <%= link_to 'Edit', edit_news_path(n), class: "button" %>
                            <%= link_to 'Destroy', n, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
                        <% end %>
                    </div>
                </article>
            <% end %>
            <!-- ARTICLE -->
            <!-- PAGER -->
            <!--div class="blogpager">
                <div class="previous">
                    <a href="#" class="button next-prev">&#8249; Older Posts</a>
                </div>
                <div class="next">
                    <a href="#" class="button next-prev">Newer Posts &#8250;</a>
                </div>
            </div-->
            