<div class="lightcontainer">
<%= form_for(@electro) do |f| %>
  <% if @electro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@electro.errors.count, "error") %> prohibited this electro from being saved:</h2>

      <ul>
      <% @electro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Изображение<br>
    <%= f.file_field :img, class: "form-control" %>
  </div>
  <div class="field">
    Название<br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    Описание<br>
    <%= f.text_area :about, class: "form-control" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit 'Создать', class: "btn btn-success" %>
  </div>
<% end %>
</div>