 <!-- PAGE TITLE -->
            <h1 class="subtitle btitle">ЭЛЕКТРОУСТАНОВКА</h1>
            <!-- ARTICLE -->
            <% unless session[:is_admin].nil? %>
              <%= link_to 'Добавить', new_electro_path %>
            <% end %>
            <% @electros.each do | electro | %>
                <article class="blogcontainer">
                    <div class="blogimage">
                            <img class="first-img" src="/uploads/<%= electro.img %>" alt="" />
                        <div class="mask"></div>
                    </div>
                    <div class="blogexcerpt">
                        <p class="blogdate"><%= electro.name %></p>
                        <%= electro.about %>
                        
                        <% unless session[:is_admin].nil? %>
                        <br/>
                            <%= link_to 'Edit', edit_electro_path(electro), class: "button" %>
                            <%= link_to 'Destroy', electro, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
                        <% end %>
                    </div>
                </article>
            <% end %>
