<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @electro.img %>
</p>

<p>
  <strong>Name:</strong>
  <%= @electro.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @electro.about %>
</p>

<%= link_to 'Edit', edit_electro_path(@electro) %> |
<%= link_to 'Back', electros_path %>
