<style>
    .blogimage img.last-img {
        margin-top: -256px;
        display: none;
    }    
</style>
            <!-- PAGE TITLE -->
            <h1 class="subtitle btitle">Проекты</h1>
            <!-- ARTICLE -->
            <% @projects.each do | project | %>
                <article class="blogcontainer">
                    <div class="blogimage">
                            <a class="clb-photo" href="/uploads/<%= project.img %>" data-rel="latest-<%= project.id %>">
                                <img class="first-img" src="/uploads/<%= project.img %>" alt="" />
                            </a>
                            <% unless project.img2.nil? %>
                            <a class="clb-photo" href="/uploads/<%= project.img2 %>" data-rel="latest-<%= project.id %>">
                              <img class="last-img" src="/uploads/<%= project.img2 %>" alt="" /> 
                            </a>
                            <% end %> 
                        <div class="mask"></div>
                    </div>
                    <div class="blogexcerpt">
                        <!--p class="blogdate">Дата: <%= project.date %></p-->
                        <p class="blogdate"><%= project.name %></p>
                        <%= project.about %>
                        
                        <% unless session[:is_admin].nil? %>
                        <br/>
                            <%= link_to 'Edit', edit_project_path(project), class: "button" %>
                            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
                        <% end %>
                    </div>
                </article>
            <% end %>
            <!-- ARTICLE -->
            <!-- PAGER -->
            <!--div class="blogpager">
                <div class="previous">
                    <a href="#" class="button next-prev">&#8249; Older Posts</a>
                </div>
                <div class="next">
                    <a href="#" class="button next-prev">Newer Posts &#8250;</a>
                </div>
            </div-->
            