<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @project.img %>
</p>

<p>
  <strong>Date:</strong>
  <%= @project.date %>
</p>

<p>
  <strong>About:</strong>
  <%= @project.about %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
