/* ---------------------- 
Stylesheet Guide
-------------------------

BROWSER
GENERAL STYLES
MAIN MENU
PAGE STRUCTURE
ICONS
PORTFOLIO
BLOG
COMMENTS
FORMS
TESTIMONIALS
FLEX IMAGE
ACCORDION
FOOTER
SOCIAL ICONS
BACK TO TOP BUTTON
TABS


*/

/* ================= BROWSER ================== */
::-moz-selection {
	color:#fff;
	text-shadow:none;
	background:#dd147a;
}
::selection {
	color:#fff;
	text-shadow:none;
	background:#dd147a;
}
::-webkit-scrollbar {
	width:5px;
    background:#1b1b1b;
}
::-webkit-scrollbar-thumb {
	background:#fff;
}
/* ================= GENERAL STYLES ================== */
body{
    color:#dd147a;
}
a {
	color: #dd147a;
}
blockquote,.tags {
    border-left:3px solid #dd147a;
    color:#fff;
    background-color:#262626;
}
.tags:hover {
    background-color:#dd147a;
}
.subtitle {
    background-color:#dd147a;
    color:#fff;
}
.label {
    background-color:#dd147a;
}
/* ================= MAIN MENU  ================== */
.nav-container {
    background: #1b1b1b;
    border-bottom:3px solid #dd147a;
}
.toggleMenu {
    background: #1b1b1b;
    color: #fff !important;
    border-top:3px solid #dd147a;
    border-bottom:3px solid #fff;
}
nav {
    background-color:#1b1b1b;
}
.nav a {
    color:#fff;
}
.nav > .activelink > a {
    background-color:#dd147a;
}
.nav > li > a:hover {
    background-color:#dd147a;
}
.nav li ul {
    background:#262626;
}
.nav li li a:hover, .nav li li li a :hover {
    color:#dd147a;
}
/* ================= PAGE STRUCTURE ================== */
#left-bg, #right-bg-light {
    background:#fff;
}
#right-bg, #left-bg-dark {
    background:#1b1b1b;
} 
.lightcontainer {
    color:#1b1b1b !important;
    background-color:#fff;
}
.darkcontainer {
    color:#fff !important;
    background-color:#1b1b1b;
}
.leftcontainer {
    color:#1b1b1b !important;
    background-color:#fff;
}
.rightcontainer {
    color:#fff !important;
    background-color:#1b1b1b;
}
.leftcontainer hr, .lightcontainer hr {
    background-color:#c7c7c7;
}
.rightcontainer hr, .darkcontainer hr {
    background-color:#262626;
}
.leftcontainer p, .lightcontainer p {
    color:#262626;
}
.rightcontainer p,.darkcontainer p, .rightcontainer dd{
    color:#c7c7c7;
}
.maincontainer {
    background-color:#1b1b1b;
}
/* ================= ICONS  ================== */
.icon .circle {
    background-color:#dd147a;
    color:#fff;
}
/* ================= PORTFOLIO ================== */
#filters li a {
    color:#fff;
}
#filters li a:hover {
    background-color:#262626;
}
#filters li a.active {
    background-color:#dd147a;
}
.f-filter {
    background-color:#1b1b1b;
}
.da-thumbs {
    background-color:#262626;
}
.da-thumbs li a div {
    background:#1b1b1b;
}
.da-thumbs li a div span {
    color:#fff;
    border-bottom:1px solid #dd147a;
    border-top:1px solid #262626;
}
.da-thumbs li a div.whitebox {
    background:#fff;
}
.da-thumbs li a div.whitebox span {
    border-top:1px solid #c7c7c7;
    color:#1b1b1b;
}
.rightcontainer .flex-video, .darkcontainer .flex-video{
   border:3px solid #262626;
}
.leftcontainer .flex-video, .lightcontainer .flex-video{
   border:3px solid #c7c7c7;
}
/* ================= BLOG ================== */
.blogcontainer {
    color:#fff !important;
    background-color:#1b1b1b;
    border-bottom:1px solid #262626;
}
.blogimage {
    background-color:#fff;
}
.blogexcerpt h5, .blogdate {
    color:#fff !important;
}
.blogexcerpt p {
    color:#c7c7c7;
}
.blogimage .mask {
   border-color:rgba(255,255,255,0.5);
}
.blogimage:hover .mask {
	border:0px double rgba(255,255,255,0.5) !important;
}
.blogpager {
    background-color:#262626;
}
.blogpager .button {
    background-color:#1b1b1b;
}
.btitle {
    border-top:3px solid #1b1b1b;
    margin-top:3px !important;
}
.commentsborder {
    border-top:1px solid #c7c7c7;
}
.lightcontainer .rightsidebarcontainer .sidebarlist li {
    border-bottom:1px solid #c7c7c7;
}
.lightcontainer .rightsidebarcontainer .sidebarlist li a {
    color:#262626;
}
.lightcontainer .rightsidebarcontainer .sidebarlist li a:hover {
    color:#dd147a;
}
.darkcontainer .rightsidebarcontainer .sidebarlist li {
    border-bottom:1px solid #262626;
}
.darkcontainer .rightsidebarcontainer .sidebarlist li a {
    color:#c7c7c7;
}
.darkcontainer .rightsidebarcontainer .sidebarlist li a:hover {
    color:#ffffff;
}
/* ================= COMMENTS ================== */
.leftcontainer .comments_content, .lightcontainer .comments_content{
    border-top:1px solid #c7c7c7;
}
.leftcontainer .comments a.reply, .lightcontainer .comments a.reply{
    color:#fff !important;
    background-color:#c7c7c7;
}
.rightcontainer .comments_content, .darkcontainer .comments_content{
    border-top:1px solid #262626;
}
.rightcontainer .comments a.reply, .darkcontainer .comments a.reply{
    color:#fff !important;
    background-color:#262626;
}
/* ================= FORMS ================== */
.leftcontainer input, .leftcontainer textarea, .lightcontainer input, .lightcontainer textarea
{
    border: 1px solid #c7c7c7;
    color:#1b1b1b;
}
.rightcontainer input, .rightcontainer textarea, .darkcontainer input, .darkcontainer textarea
{
    border: 1px solid #1b1b1b;
    color:#fff;
}
input:focus, textarea:focus {
	border-color:#dd147a;
}
.button {
	color: #fff !important;
	background-color:#262626;
}
.button:hover {
	background-color:#dd147a;
}
/* ================= TESTIMONIALS ================== */
.leftcontainer .cbp-qtrotator .cbp-qtcontent, .lightcontainer .cbp-qtrotator .cbp-qtcontent {
	border-top: 1px solid #c7c7c7;
}
.leftcontainer .cbp-qtrotator img, .lightcontainer .cbp-qtrotator img  {
    border:3px solid #c7c7c7;
}
.rightcontainer .cbp-qtrotator .cbp-qtcontent, .darkcontainer .cbp-qtrotator .cbp-qtcontent {
	border-top: 1px solid #262626;
}
.rightcontainer .cbp-qtrotator img, .darkcontainer .cbp-qtrotator img {
    border:3px solid #262626;
}
.cbp-qtprogress {
	background: #dd147a;
}
/* ================= FLEX IMAGE ================== */
.leftcontainer .caption-image img, .lightcontainer .caption-image img{
    border:3px solid #c7c7c7;
}
.leftcontainer .caption-image figcaption, .lightcontainer .caption-image figcaption{
    background-color:#c7c7c7;
}
.rightcontainer .caption-image img, .darkcontainer .caption-image img{
    border:3px solid #262626;
}
.rightcontainer .caption-image figcaption, .darkcontainer .caption-image figcaption{
    background-color:#262626;
}
/* ================= ACCORDION ================== */
.leftcontainer .st-accordion, .lightcontainer .st-accordion {
    border-top:1px solid #c7c7c7;
}
.leftcontainer .st-accordion ul li , .lightcontainer .st-accordion ul li {
    border-bottom: 1px solid #c7c7c7;
}
.leftcontainer .st-accordion ul li > a , .lightcontainer .st-accordion ul li > a {
    color: #dd147a;
}
.leftcontainer .st-accordion ul li > a span, .lightcontainer .st-accordion ul li > a span {
    color:#262626 !important;
}
.leftcontainer .st-accordion ul li > a:hover, .lightcontainer .st-accordion ul li > a:hover {
    color: #dd147a;
}
.leftcontainer .st-accordion ul li.st-open > a, .lightcontainer .st-accordion ul li.st-open > a {
    color: #dd147a;
}
.leftcontainer .st-accordion img, .lightcontainer .st-accordion img{
    border:3px solid #c7c7c7;
}

.rightcontainer .st-accordion, .darkcontainer .st-accordion {
    border-top:1px solid #262626;
}
.rightcontainer .st-accordion ul li , .darkcontainer .st-accordion ul li {
    border-bottom: 1px solid #262626;
}
.rightcontainer .st-accordion ul li > a , .darkcontainer .st-accordion ul li > a {
    color: #dd147a
}
.rightcontainer .st-accordion ul li > a span, .darkcontainer .st-accordion ul li > a span {
    color:#fff !important;
}
.rightcontainer .st-accordion ul li > a:hover, .darkcontainer .st-accordion ul li > a:hover {
    color: #dd147a;
}
.rightcontainer .st-accordion ul li.st-open > a, .darkcontainer .st-accordion ul li.st-open > a {
    color: #dd147a;
}
.rightcontainer .st-accordion img, .darkcontainer .st-accordion img{
    border:3px solid #262626;
}
/* ================= FOOTER ================== */
 footer {
    background-color:#1b1b1b;
    border-top:3px solid #dd147a;
    color:#fff;
}
#footer-widgets {
    border-bottom:1px solid #262626;
}
#footer-widgets p{
    color:#c7c7c7;
}
.footer-widget ul li {
    border-bottom:1px solid #262626;
}
.footer-widget ul li a {
    color:#c7c7c7;
}
.footer-widget ul li a:hover {
    color:#fff;
}
.credits {
    color:#c7c7c7;
}
/* ================= SOCIAL ICONS ================== */
.social-icon {
    background-color:#262626;
}
.social-icon:hover {
    background-color:#dd147a;
}
/* ================= BACK TO TOP BUTTON ================== */
 .back-to-top {
    background-color: #1b1b1b;
}
.back-to-top:hover {
    background-color: #dd147a;
}
/* ================= TABS ================== */
.rightcontainer .ionTabs__tab, .rightcontainer .ionTabs__tab:hover, .rightcontainer .ionTabs__tab.ionTabs__tab_state_active, .rightcontainer .ionTabs__body, .darkcontainer .ionTabs__tab, .darkcontainer .ionTabs__tab:hover, .darkcontainer .ionTabs__tab.ionTabs__tab_state_active, .darkcontainer .ionTabs__body {
    background: #262626;
}
.leftcontainer .ionTabs__tab, .leftcontainer .ionTabs__tab:hover, .leftcontainer .ionTabs__tab.ionTabs__tab_state_active, .leftcontainer .ionTabs__body, .lightcontainer .ionTabs__tab, .lightcontainer .ionTabs__tab:hover, .lightcontainer .ionTabs__tab.ionTabs__tab_state_active, .lightcontainer .ionTabs__body {
    background: #c7c7c7;
}
