@media only screen and (max-width:1024px) {
    .back-to-top {
        display:none !important;
    }
}
@media only screen and (max-width:900px) {
    body {
        font-size:12px;
    }
    h1 {
        font-size:36px;
    }
    h2 {
        font-size:30px;
    }
    h3 {
        font-size:26px;
    }
    h4 {
        font-size:22px;
    }
    h5 {
        font-size:18px;
    }
    h6 {
        font-size:16px;
    }
    p {
        font-size:12px;
    }
    .da-thumbs li a div span {
        font-size:14px;
    }
    .fix-nav {
        position: relative;
    }
    nav {
        float:none;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 98% 50%;
    }
    .nav li li .parent {
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 98% 50%;
    }
    .nav li li .parent:hover {
        background-image: url("../images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 98% 50%;
    }
    .nav {
        float:none;
        line-height:40px;
        padding-right:0px;
    }
    .nav ul li:first-child {
        margin-top: 0px;
    }
    .nav ul li:last-child {
        margin-bottom: 0px;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
    .nav > li.hover > ul, .nav li li.hover ul {
        position: static;
    }
    .zeus-text-right, .zeus-text-left {
        font-size:20px;
    }
    .maincontainer {
        padding-top:60px;
    }
    #left-bg, #right-bg, #right-bg-light, #left-bg-dark {
        display:none;
    }
    .icon {
        width: 100%;
    }
    .blogimage {
        width:100%;
    }
    .blogexcerpt {
        width:100%;
        float:left;
    }
    .da-thumbs.halfpage li {
        width:100%;
    }
    .btitle {
        margin-top:0px !important;
        border-top:none;
    }
}
@media only screen and (max-width:800px) {
    .leftsidebarcontainer {
        width: 100%;
        padding-right: 0px;
    }
    .leftsidebarcontainer hr {
        margin-right:-30px;
    }
    .rightsidebarcontainer {
        width: 100%;
        float:left;
        padding-left: 0px;
        margin-top: 30px;
        clear: both;
}
}
@media only screen and (max-width:640px) {
    .zeus-text-right, .zeus-text-left, .flex-title-left, .flex-title-right {
        display:none !important;
    }
    .leftcontainer, .rightcontainer {
        width:100%;
        margin-bottom: 0px;
        padding-bottom: 30px;
    }
    .imagebg {
        display:none;
    }
    .rightcontainer {
        float:left;
    }
    .da-thumbs li {
        width:50%;
    }
    .first-clmn, .second-clmn, .third-clmn {
        padding:0px 0px 30px 0px;
        width:100%;
    }
    .flickr-box {
        width: 102%;
    }
    .cs-wrapper {
        height: 100%;
    }
    .countdown div {
        font-size: 50px;
    }
}
@media screen and (max-height: 600px) {
    .cs-wrapper {
        height: 100%;
    }
}
@media only screen and (max-width:480px) {
    .da-thumbs li {
        width:100%;
    }
    .social-icons {
        padding-left:20px;
        margin-top:20px;
        float:left;
    }
    .cbp-qtrotator img {
        max-width: 80px;
    }
    #filters li a.active {
    padding:0px 7px 0px 7px;
}
}