<div class="lightcontainer">
  <%= form_for @brand, :html => { :class => "form-horizontal brand" } do |f| %>

      <% if @brand.errors.any? %>
      <div id="error_expl" class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title"><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h3>
        </div>
        <div class="panel-body">
          <ul>
          <% @brand.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
      <%= error_span(@brand[:name]) %>
    </div>
    <div class="control-group">
      <%= f.label :picture, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :picture, :class => 'form-control' %>
      </div>
      <br/>
      <%= error_span(@brand[:picture]) %>
    </div>
    <select class="form-control" name="brand[price_category]">
      <option value="low">Низкая</option>
      <option value="medium">Средняя</option>
      <option value = "premium">Премиум</option>
    </select>
    <label class="checkbox-inline">
      <input type="checkbox" class="brand_styles" value="classic"> Классика
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" class="brand_styles" value="neoclassic"> Неоклассика
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" class="brand_styles" value="actual"> Современный
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" class="brand_styles" value="modern"> Modern
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" class="brand_styles" value="architecture"> Архитектурный
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" class="brand_styles" value="cantry"> Кантри
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" class="brand_styles" value="interior"> Интерьерный
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" class="brand_styles" value="street"> Уличный свет
    </label>
    <label class="checkbox-inline">
      <input type="checkbox" class="brand_styles" value="eclecticism"> Эклектика
    </label>
    <input class="result_brand_styles" type="hidden" name="brand[styles]">
    <div class="control-group">
      <%= f.label :link, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :link, :class => 'form-control' %>
      </div>
      <%= error_span(@brand[:link]) %>
    </div>
    <!--div class="control-group">
      <%= f.label :styles, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :styles, :class => 'form-control' %>
      </div>
      <%= error_span(@brand[:styles]) %>
    </div-->


    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              brands_path, :class => 'btn btn-default' %>

  <% end %>
</div>

<script>
  $('.brand_styles').change(function() {
    value = $(this).attr('value');
    if($('.result_brand_styles').val()!= "")
      exist_styles = JSON.parse($('.result_brand_styles').val());
    else
      var exist_styles = [];

    if($(this).prop("checked")) {
      if($.inArray(value, exist_styles) < 0)
        exist_styles.push(value);
    }
    else
      exist_styles.splice($.inArray(value, exist_styles),1);
    $('.result_brand_styles').val(JSON.stringify(exist_styles));
  })
</script>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>