<%- model_class = Brand -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Название:</strong></dt>
  <dd><%= @brand.name %></dd>
  <dt><strong>Лого:</strong></dt>
  <dd><img src=<%= @brand.picture %>></img></dd>
  <dt><strong>Ценовая категория:</strong></dt>
  <dd><%= @brand.price_category %></dd>
  <dt><strong>Ссылка:</strong></dt>
  <dd><%= @brand.link %></dd>
  <dt><strong>Стили:</strong></dt>
  <dd><%= JSON.parse(@brand.styles).join(", ") %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              brands_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_brand_path(@brand), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              brand_path(@brand),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
