<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Изображение<br>
    <%= f.file_field :img, class: "form-control" %>
  </div>
  <div class="field">
    Цена<br>
    <%= f.number_field :price, class: "form-control" %>
  </div>
  <div class="field">
    Описание<br>
    <%= f.text_area :about, class: "form-control" %>
  </div>
  <div class="field">
    Размеры<br>
    <%= f.number_field :size, class: "form-control" %>
  </div>
  <div class="field">
    Количество<br>
    <%= f.number_field :amount, class: "form-control" %>
  </div>
  <div class="field">
    Артикул<br>
    <%= f.number_field :article, class: "form-control" %>
  </div>
  <div class="field">
   Бренд<br>
    <%= f.text_field :brand, class: "form-control" %>
  </div>
  <div class="field">
    Цвет метала<br>
    <%= f.text_field :metal_color,class: "form-control" %>
  </div>
  <div class="field">
    Цвет стекла<br>
    <%= f.text_field :glass_color, class: "form-control" %>
  </div>
  <div class="field">
    В наличии<br>
    <%= f.check_box :availability, class: "form-control" %>
  </div>
  <div class="field">
    Новый продукт<br>
    <%= f.check_box :new_product, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Создать', class: "btn btn-success" %>
  </div>
<% end %>
