            <!-- PAGE TITLE -->
            <h1 class="subtitle btitle">Каталог</h1>
            <!-- ARTICLE -->
            <% @products.each do | product | %>
                <article class="blogcontainer">
                    <div class="blogimage">
                        <img src="/uploads/<%= product.img %>" alt="" />
                        <div class="mask"></div>
                    </div>
                    <div class="blogexcerpt">
                            <h5><%= product.brand %></h5>
                        <p class="blogdate">Артикул: <%= product.article %></p>
                        <!--p class="blogdate">Цена: <%= product.price %></p-->
                        <%= product.about %>
                        
                        <% unless session[:is_admin].nil? %>
                        <br/>
                            <%= link_to 'Edit', edit_product_path(product), class: "button" %>
                            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
                        <% end %>
                    </div>
                </article>
            <% end %>
            <!-- ARTICLE -->
            <!-- PAGER -->
            <!--div class="blogpager">
                <div class="previous">
                    <a href="#" class="button next-prev">&#8249; Older Posts</a>
                </div>
                <div class="next">
                    <a href="#" class="button next-prev">Newer Posts &#8250;</a>
                </div>
            </div-->
