<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= @product.img %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>About:</strong>
  <%= @product.about %>
</p>

<p>
  <strong>Size:</strong>
  <%= @product.size %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @product.amount %>
</p>

<p>
  <strong>Article:</strong>
  <%= @product.article %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Metal color:</strong>
  <%= @product.metal_color %>
</p>

<p>
  <strong>Glass color:</strong>
  <%= @product.glass_color %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
