
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin panel</title>
    <%= stylesheet_link_tag    'admin', media: 'all' %>
    <%= javascript_include_tag 'admin'%>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
            <li><a href="/brands/new">Добавить бренд</a></li>
            <li><a href="/products/new">Добавить продукт</a></li>
            <li><a href="/news/new">Добавить новость</a></li>
            <li><a href="/projects/new">Добавить проект</a></li>
            <li><a href="/electros/new">Добавить електорустановку</a></li>
        </ul>
        <h3 class="text-muted"><a href="/admin/">Админ панель</a></h3>
      </div>

      <%= yield %>

    </div> <!-- /container -->
  </body>
</html>
